* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/* UTILITIES */

.col-l {
    float: left;
}

.col-r {
    float: right;
    text-align: right;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.btn {
    text-decoration: none;
}

.btn-light {
    background-color: #0F60FF;
    color: white;
}

.btn-big {
    padding: 10px 15px;
    color: white;
}

.vertical-space {
    padding-top: 30px;
    padding-bottom: 30px;
}

.vertical-marg {
    margin: 20px 0;
}

.square {
    display: inline-block;
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid #E4E4E6;
    border-radius: 50%;
    margin-left: 15px;
}

.text-cent {
    text-align: center;
}

.square-bord {
    display: inline-block;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #1267FF;
}

.padd-r {
    padding-right: 15px;
}

.padd-l {
    padding-left: 15px;
}

.vertical-morespace {
    margin: 40px 0;
}

.vertical-onlytop {
    margin-top: 40px;
}

.vertical-onlytop-plus {
    margin-top: 60px;
}

/* Header */

header figure, ul, li {
    display: inline-block;
}

header a {
    padding: 0 20px;
    text-decoration: none;
    color: #23272A;
}

.header-size {
    height: 60px;
    line-height: 60px;
    color: #5F5F5F;
    vertical-align: middle;
}

/* JUMBOTRON - mi servono sia il colore di sfondo che la centralità del testo (per quella utilizzo il "container" */

.jumbotron {
    height: 600px;
    background-color: #B4D0E8;
    font-weight: 600;
    margin-bottom: 250px;
}

.jumbotron h1 {
    font-size: 3.5rem;
    width: 100%;
}

.jumbotron p {
    color: #23272A;
    font-size: 1rem;
}

.fa-arrow-down {
    font-size: 3rem;
}

.jumbotron figure{
    display: inline-block;
}

.jumbotron img {
    width: 180%;
    height: auto;
    padding-top: 30px;
    padding-left: 45px;
}


/* PIANIFICAZIONE per i pagamenti */

.pianificazione h2 {
    font-size: 3rem;
}

.options {
    margin-top: 40px;
    margin-down: 20px;
}

hr {
    width: 20%;
}

.pianificazione .fa-check {
    color: #4A89FF;
}

.border {
    height: fit-content;
    border: 1px solid lightgray;
}


/* Contatti utili */

.head {
    height: 30px;
   width: 100%; 
   border: 1px solid lightgray;
   text-align: center;
   vertical-align: middle;
}

.contacts {
    height: 200px;
    width: 100%;
    border: 1px solid lightgray;
    position: relative;
}

.contacts h4 {
    font-size: 2rem;
    padding-bottom: 15px;
    padding-top: 15px;
}

.p-top {
    padding-top: 20px;
}

.absol-r {
    position: absolute;
    top: 25px;
    right: 20px;
}

.contacts p {
    font-size: 13px;
}

/* PARTNER class */

.partner {
    margin-top: 220px;
    position: relative;
}

.img-meet {
    width: 100%;
}

.partner h3 {
    font-size: 2rem;
}

.partner p {
    line-height: 30px;
    font-size: 14px;
}

.padd-l-10 {
    margin-left: 10%;
}

.btn-transp {
    border: 1px solid #23272A;
    color: #23272A;
    padding: 10px 15px;
}

.absol-c {
    position: absolute;
    left: 20px;
    bottom: -20%;
}

.relative {
    position: relative;
    text-align: center;
}

/* PROSPETTIVE */

.prospettive {
    margin: 80px 0;
    
}

.prospettive img {
    max-width: 100%;
}

.title-prospett {
    width: 100%;
    /* text-align: center; */
}

.title-prospett h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.prospettive p {
    margin: 20px 0;
}

.prospettive h3 {
    margin: 10px 0;
    font-size: 2rem;
}